DATABASE_URL=postgresql://neondb_owner:your-password@your-neon-host/kelana_db?sslmode=require&channel_binding=require
AWS_BEARER_TOKEN_BEDROCK=your-api-key
AWS_REGION=ap-southeast-2
MODEL_ID=amazon.nova-lite-v1:0
KNOWLEDGE_BASE_ID=your-knowledge-base-id
KNOWLEDGE_BASE_MODEL_ARN=your-knowledge-base-model-arn
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
